*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(13, 11, 37);
    color: white;
}
.Card{
    max-width: 400px;
    height: 500px;
    background: white;
    color: black;
    border-radius: 15px;
    margin-top: 80px;
    align-items: center;
}
.Card button{
   margin-left: 1%;
   background: rgb(13, 11, 37);
   color: white;
}
.Num2{
    margin-left: -90px;
}
.label1{
    margin-left: -20px;
}